#bar-icon {
    margin:  13px 5px 13px 0;
}

.bar .icon {
    color: #333333;
}

#menu-overflow {
    left: auto;
    right:  15px;
}

.popover .table-view {
    border-radius: 0;
}

.table-view, .table-view .table-view-cell:first-child, .table-view .table-view-cell {
    border: 0;
}

.table-view .table-view-cell {
    border-top: 1px solid #d9d9d9;
}

.table-view-divider + .table-view-cell {
    border:  0;
}

.table-view .table-view-divider {
    padding-top: 6px;
}

.bar-spaced {
    padding-right: 12px;
}

#content-aulas {
    margin: 0;
}

#content-aulas .badge-positive {
    right: 75px;
}

#content-aulas .badge-negative {
    right: 45px;
}

@media (min-width: 257px) {
    .bar-spaced {
        padding-left: 12px;
    }
}

@media (min-width: 305px){
    #menu-overflow-atualizar {
        display: none;
    }

    #seletor-caderneta {
        left: auto;
        right: 48px;
    }

    #seletor-aula {
        left: auto;
        right: 15px;
    }
}

@media (max-width: 385px) {
    #bar-titulo {
        display: none;
    }
}

@media (max-width: 304px) {
    #bar-atualizar {
        display: none;
    }
}

/* Roboto CSS */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.woff) format('woff');
}
